body {
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(14, 15,45);
}

.texte-centre {
    color: white;
    padding: 20px;
    text-align: center;
    max-width: 50%;
}

.container {
    display: flex;
    position: relative;
    text-align: center;
}

.image {
    width: 100%;
    min-width: 100vw;
    height: auto;
    opacity: 50%;
}

.texte-sur-image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    padding: 10px;
    max-width: 50%;
    text-align: center;
    width: 100%;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
}


.challenger-text {
    margin-top: 10px; 
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
}


.jouer-text {
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 20px; 
    background-color: rgb(240, 143, 49); 
    color: white; 
    padding: 10px; 
    border: 2px solid rgb(240, 143, 49);
    font-size: 24px; 
    text-decoration: none;
}




.games3 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-games3 {
    text-align: center;
    margin: 0 10px; 
}

.image-games3 img {
    max-width: 100%;
    max-height: 400px;
    padding-top: 100px;
}

.image-games3 p {
    margin-top: 10px; 
}


.text3games{
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.textgame1{
    display: flex;
    justify-content: center;
    flex-direction: row;
}



.nombre{
    font-family: Arial;
    font-size: 30px;
    color: rgb(52, 37, 154);
    margin: 20px;
}

.gros{
    font-size: 20px;
    color: white;
}

.titre3images{

    font-family: Arial;
    color: rgb(196, 194, 221);
    text-align: left;

}

#textepresent{
    padding-top: 20px;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
    margin-left: 10vw;
    margin-right: 10vw;

}
#textepresent .box{
    display: flex;
    flex-direction: row;
}
#textepresent span .stj{
    margin-right: 40px;
}









#carre{
    margin-top: 175px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 10vw;
    margin-right: 10vw;
    align-items: flex-start;
}
#carre img{
    width: px;
    height: 320px;
    margin: 0;
    border-radius: 5px;
    margin-right: 1vw;
}
#carre .container1 {
    width: 100vh; 
    margin: 0;
}

#carre .row {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 0;
}

#carre .carre1 {
    width: 100%; 
    height: 100%;
    text-align: center;
    margin: 10px;
    padding-bottom: 2vw;
    margin-top: 0;

}
#carre .carre2 {
    width: 100%;
    text-align: center;
    margin: 10px; 
    padding-top: 2vw;
    padding-bottom: 2vw;
}

#carre .carre1:nth-child(1){
    background-color: rgb(52, 37, 154);
    border-radius: 5px;
}
#carre .carre1:nth-child(2){
    background-color: rgb(75, 159, 101);
    border-radius: 5px;
}
#carre .carre2:nth-child(1){
    background-color: rgb(170, 46, 163);
    border-radius: 5px;
}
#carre .carre2:nth-child(2){
    background-color: rgb(218, 145, 61);
    border-radius: 5px;
}


#carre p {
    font-weight: bold;
    font-family: Arial;
    color: white;
    font-size: 1em;
}
#carre span{
    font-size: 2em;
}


.transition{
    padding-top: 100px; 
    display: flex;
    align-items: center;
    flex-direction: column;
    
}
.transition img{
    width: 15vw;
}

.equipe{
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.transition p{
    color:rgb(169, 191, 221) ;

}




section.container2 {
    display: flex;
    margin-left: 10vw;
    margin-right: 10vw;
    align-items: center;
    justify-content: center;
    padding-top: 100px;
    padding-bottom: 100px;

  }
  
  section.container2 .item-equipe {
    background-color: rgb(12, 11, 36);
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    box-shadow: 1px 1px 12px rgb(0, 0, 0, 0.2);
    border-radius: 20px;
    margin: 20px;
    padding: 10px;
    padding-left: 5vw;
    padding-right: 5vw;
    padding-bottom: 7vh;
    padding-top: 3vh;
    text-align: center;
    align-items: center;
  }
  
  section.container2 img  {
    color: white;
    padding: 5px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    

  }

  section.container2 h2 {
    color: white;
    padding: 5px;

  }

  section.container2 img, p.text-equipe {
    color: rgb(169, 191, 221);
    padding: 5px;

  }
  
  section.container2 p.logo {
    display: flex;
    align-items: center;
    font-size: 20px;
  }



/*  LOGO */

.fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
  }
  
  .fa:hover {
      opacity: 0.7;
  }
  
  .fa-facebook {
    background: #ffffff;
    color: rgb(12, 11, 34);
  }
  
  .fa-twitter {
    background: #ffffff;
    color: rgb(12, 11, 34);
  }
  
  .fa-pinterest {
    background: #ffffff;
    color: rgb(12, 11, 34);
  }

  

