body {
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(14, 15,45);
}

.texte-centre {
    color: white;
    padding: 20px;
    text-align: center;
    max-width: 50%;
}

.container {
    display: flex;
    position: relative;
    text-align: center;
}

.image {
    width: 100%;
    min-width: 100vw;
    height: auto;
    opacity: 50%;
}

.texte-sur-image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    padding: 10px;
    max-width: 50%;
    text-align: center;
    width: 100%;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
}


.challenger-text {
    margin-top: 10px; 
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
}


.jouer-text {
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 20px; 
    background-color: rgb(240, 143, 49); 
    color: white; 
    padding: 10px; 
    border: 2px solid rgb(240, 143, 49);
    font-size: 24px; 
    text-decoration: none;
}




.games3 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-games3 {
    text-align: center;
    margin: 0 10px; 
}

.image-games3 img {
    max-width: 100%;
    max-height: 400px;
    padding-top: 100px;
}

.image-games3 p {
    margin-top: 10px; 
}


.text3games{
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.textgame1{
    display: flex;
    justify-content: center;
    flex-direction: row;
}



.nb{
    font-family: Arial;
    font-size: 30px;
    color: rgb(52, 37, 154);
    margin: 20px;
}

.gros{
    font-size: 20px;
    color: white;
}

.stj{

    font-family: Arial;
    color: rgb(196, 194, 221);
    text-align: left;

}

#textepresent{
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
    margin-left: 10vw;
    margin-right: 10vw;

}
#textepresent .box{
    display: flex;
    flex-direction: row;
}
#textepresent span .stj{
    margin-right: 40px;
}













.container-carre{
    margin-top: 200px;
    background-color: rgb(17, 16,45);
    display: flex;
    justify-content: center;
    gap: 50px;
}

.left-carre img{
    display: flex;
    background-color: blue; 
    max-width: 600px;
    max-height: 460px;
    
}



.main-square {
    margin-top: 80px;
    width: 700px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
}

.sub-square {
     
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.content {
    width: 100%;
    height: 100%;
    text-align: center;
    outline: none;
}


