
form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
}
h2{
    color: white;
    color: orange;
    padding-top: 50px;
}
html, body {
    margin:0;
    padding:0;
    font-family: "Gill Sans", sans-serif;
    background-color:rgb(15,14,46) ;
}
.banner{
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("../pics/Backgroundc.jpeg");
    height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
}
.button{
    background-color: orange;
    text-align: center;
    font-size: 11px;
    padding: 10px;
    width: 100px;
    height: auto;
    font-weight:bold;
    color: white;
    border-radius: 2px;
}
