.foo {
    height: auto;
    background-color:rgb(12,11,36);
    width: 100%;
    bottom: 0;
    right: 0 ;
    left: 0;
    margin-top: 50px;

}
.foo .orange{
    color:#FF8533;
    font-weight:bold;

}
.foo p{
    color: white;
}
.foo  h2{
    color: white;
}
.foo  div{
    color: white;
}
.foo .conteneur {
    display: flex; 
    justify-content: space-between; 
}
.foo .d-flex{
    display: flex;
    justify-content: space-around;
}
.foo h2{
    font-weight:bold;
}
.foo .orangep{
    font-size: 40px;
    color:#FF8533;
}
.foo h6{
    font-size: 15px;
}
.foo .image1{
    height: 30px;
    width: 30px;
}
